body {
    background-color: black;
}
.col1 {
    width: 19%;
    float: left;
    border: 1px solid black;
    
}
h1 {
    color: pink;
}
.col2 {
    width: 60%;
    float: left;
    border: 1px solid black;
    text-align: center;
}
.col3 {
    width: 19%;
    float: left;
    border: 1px solid black;
}
td,th {
    border: 5px solid lightblue;
}
#img_1, #img_2, #img_3 {
    align-self: auto;
}
#h1, #h2, #h3 {
    width: 20%;
}
table {
    border-collapse: collapse;
}